<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>보금자리>공지사항</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href=./css/boardReset.css>
  <link rel="stylesheet" href=./css/inquiry_board.css>
  <!--fontawesome-->
  <script src="https://kit.fontawesome.com/7e47ddf105.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="board_menu">
    <div class="subject"><b>커뮤니티</b></div><br>
    <div class="menuList"><i class="fa-solid fa-bell"></i> 공지사항</div><br>
    <div class="menuList"><i class="fa-regular fa-pen-to-square"></i> 자유게시판</div><br>
    <div class="menuList"><i class="fa-solid fa-cat"></i> 입양안내</div><br>
    <div class="menuList"><i class="fa-solid fa-person-circle-question"></i> 분실/습득</div><br>
    <div class="menuList"><i class="fa-solid fa-comment"></i> 문의사항</div><br>
  </div>
  <div class="board_wrap">
    <div class="board_title">
      <strong>공지사항</strong>
      <p>공지사항을 안내해드립니다</p>
    </div>
    <div class="board_list_wrap">
      <div class="board_list">
        <div class="top">
          <div class="num">번호</div>
          <div class="title">제목</div>
          <div class="writer">글쓴이</div>
          <div class="date">작성일</div>
          <div class="count">조회수</div>
        </div>
        <div>
          <div class="num">5</div>
          <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
          <div class="writer">김가영</div>
          <div class="date">2222.22.22</div>
          <div class="count">33</div>
        </div>
        <div>
          <div class="num">4</div>
          <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
          <div class="writer">김가영</div>
          <div class="date">2222.22.22</div>
          <div class="count">33</div>
        </div>
        <div>
          <div class="num">3</div>
          <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
          <div class="writer">김가영</div>
          <div class="date">2222.22.22</div>
          <div class="count">33</div>
        </div>
        <div>
          <div class="num">2</div>
          <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
          <div class="writer">김가영</div>
          <div class="date">2222.22.22</div>
          <div class="count">33</div>
        </div>
        <div>
          <div class="num">1</div>
          <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
          <div class="writer">김가영</div>
          <div class="date">2222.22.22</div>
          <div class="count">33</div>
        </div>

      </div>
      <div class="board_page">
        <a href="#" class="bt first"><<</a>
        <a href="#" class="bt prev"><</a>
        <a href="#" class="num on">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="num">5</a>
        <a href="#" class="bt next">></a>
        <a href="#" class="bt last">>></a>
      </div>
      <div class="bt_wrap">
        <form name="searchForm" method="post" action="#">
          <select name="searchOption">
            <option value="title">제목</option>
            <option value="writer">작성자</option>
            <option value="content">내용</option>
            <option value="all">제목 +작성자 + 내용</option>
          </select>
          <input name="keyword" id="keyword" value="#">
          <input type="submit" id="search" name="submit" value="">
          <button type="button" id="btnWrite">글쓰기</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>