#findIdbox {
    width : 800px;
    height: 450px;    
    margin: auto;
    margin-top: 200px;
    display: flex;
    border-radius: 20px;    
    font-family: 'Jua', sans-serif;

}
    #loginpart1{
        width : 50%;
        height: 100%;
        background-color: rgb(253, 232, 175);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 5px rgb(253, 232, 175) solid;
    }
        #loginimgbox{
            width : 70%;
            height: 40%;            
            margin: auto;
            margin-top: 100px;
        }
        #loginimgbox img{ 
            width: 100%;
            height: 100%;
           
        }
        
#findIdpart{
    width : 400px;
    height: 100%;
    border: 5px rgb(253, 232, 175) solid;  
    border-left: none;  
    border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
}

#findIdpart #findtitle {
    font-size: 45px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;    
}
    .logininput {
        width : 310px;
        height: 90px;        
        margin : auto;
    }
    #findIdpart input {
        width : 300px;
        height: 35px;
        margin : auto;
       margin-bottom: 10px;
        font-size: 18px;
        border-radius: 10px;
        border: 1px black solid;
    }
    #findinfo {
        width : 290px;
        margin-left: 45px;
        margin-bottom: 15px;        
        display: flex;
        justify-content: space-between;
        
    }
    #searchbutton1 {
        width : 300px;
        margin: auto;        
    }
    #searchbutton1 button {
        width : 300px;
        background-color: black;
        color: white;
        margin-bottom: 10px;
        height: 45px;
        font-size: 25px;
        font-family: 'Jua', sans-serif;   
        border-radius: 10px;     
    }
    #searchbutton1 button:hover {
        cursor: pointer;
    }
    
 	.searchresult {
 	width : 200px;
 	height : 100px; 	
 	margin : auto;
 	margin-top : 15px;
 	font-size : 50px;
 	text-align : center;
 	}   
    
    
    