ul {
	list-style: none;
}

body {
	font-family: 'Jua', sans-serif;
}

header {
	width: 100%;
	height: 150px;
}

#login {
	width: 100%;
	text-align: right;
	background-color: #eee;
	height: 30px;
	line-height: 30px;
}

#header2 {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo {
	width: 300px;
	height: 100px;
	margin-left: 50px;
}

#logo img {
	height: 100%;
	width: 100%;
}

.nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-right: 250px;
}

.nav li {
	width: 150px;
	height: 100px;
	line-height: 120px;
	text-align: center;
	font-size: 35px;
	margin-left: 100px;
	border-bottom: 3px solid white;
}

.nav li:hover {
	border-bottom: 3px solid black;
}

#mobilenavbox {
	display: none;
}

#mobilelogo {
	display: none;
}


/*모바일화면*/
@media ( min-width : 0px) and (max-width: 1050px) {
	#pcheader {
		display: none;
	}
	#mobilelogo {
		display: flex;
		width: 100%;
		height: 150px;
		margin: auto;
		margin-bottom: 50px;
		background-color: rgb(253, 232, 175);
		align-items: center;
		overflow: hidden;
	}
	#mobilelogobox {
		display: flex;
		height : 180px;
		width: 200px;
		margin: auto;
	}
	#mobilelogo img {
		width: 100%;
		height: 100%;
	}
	#mobilenavbtn {
		margin-right: 5%;
		margin-left: -80px;
	}
	#mobilenavbtn button {
		height: 50px;
		width: 50px;
		background-color: white;
		border: white;
	}	
	#mobilenavbtn button:hover {
		cursor : pointer;
	}
	#mobilenavbtn button img {
		height: 100%;
		width: 100%;
	}
	
	/*모바일네비게이션*/
	#mobilenavbox {
		width: 100%;
		height: 1000px;
		background-color: rgba(156, 156, 156, 0.5);
		position: fixed;
		z-index: 3;
	}
	#mobilenavbox button {
		width: 30px;
		height: 30px;
		margin-top: 20px;
		margin-right: 20px;
		float: right;
		font-size: 20px;
		background-color: black;
		color: white;
	}	
	#mobilenavbox button {
		cursor : pointer;
	}
	
	#mobileheadernav {
		margin-top: 80px;
		font-size: 40px;
	}
	.mobilenav {
		height: 410px;
		padding-top: 30px;
		background-color: rgb(253, 232, 175, 0.9);
	}
	#mobileheadernav li {
		height: 50px;
		margin-right: 20px;
		text-align: right;
	}
}