ul {
    list-style: none;
}

body {
    font-family: 'Jua', sans-serif;
}

header {
    width: 100%;
    height: 150px;

}

#login {

    width: 100%;
    text-align: right;
}

#header2 {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    border: 1px black solid;
    width: 250px;
    height: 100px;
}

#logo img {
    height: 100%;
    width: 100%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.nav li {
    width: 250px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 35px;
    font-family: 'Jua', sans-serif;
}

.banner1 {
    width: 100%;
    height: 25rem;
    text-align: center;
}

.banner1 img {
    width: 80%;
    height: 100%;
}

.container {
    width: 75rem;
    margin: auto;
}

.contenttitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Jua', sans-serif;
}

#content1items ul {
    display: flex;
    flex-wrap: wrap;
}

#content1items li {
    width: 23%;
    height: 17.5rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

#itemphoto {
    width: 100%;
    height: 70%;
}

#itemphoto img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#content2 {
    display: flex;
    margin-top: 30px;
}

.board {
    width: 48%;
    height: 18.75rem;
    margin-right: 50px;
}

#content3 {
    display: flex;
    margin-top: 30px;
}
#content4 {
    display: flex;
    margin-top: 30px;
}
.contenttitle2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px black solid;
    line-height: 60px;
    font-family: 'Jua', sans-serif;
}

.content2 {
    display: flex;
    border-bottom: 1px solid gray;
    height: 40px;
    line-height: 40px;
}

.content2 .content2title {
    width: 80%;
}

.content2 .content2time {
    width: 20%;
    text-align: right;
}
.content3 {
    display: flex;
    border-bottom: 1px solid gray;
    height: 40px;
    line-height: 40px;
}

.content3 .content2title {
    width: 80%;
}

.content3 .content2time {
    width: 20%;
    text-align: right;
}
/*Swiper*/
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner2 {
    margin-top: 5px;
}
