<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <header>    
        <div id="login"><a href="#">로그인</a>&nbsp | &nbsp<a href="#">회원가입</a> &nbsp&nbsp&nbsp&nbsp</div>
        <div id="header2">
          <div id="logo"><a href="#"><img src="img/logo.png"></a></div> 
          <div id="headernav">
            <ul class="nav">
                <li><a href="#">보호소</a></li>
                <li><a href="#">커뮤니티</a></li>
                <li><a href="#">쇼핑몰</a></li>
            </ul>
          </div>
        </div>
      </header>  
</body>
</html>